#inner_pages {
  padding: 50px 0;
}
.not_found_msg {
   
    background: #f2f4f4 none repeat scroll 0 0;
    border-left: 8px solid #e5e5e5;
    border-radius: 10px;
    border-right: 8px solid #e5e5e5;
    margin: 0 auto;
    max-width: 750px;
    padding: 50px;
  }
  .not_found_msg .error_msg_div h2 span {
    color: #2F3B59;
    font-size: 200px;
    display:block;
    line-height:170px;
    font-weight: 700;
    margin:0 auto;
  }
  .error_msg_div h2 {
    margin: 0 auto 20px;
  }