.style_footer_element{
	position:relative;
	z-index:5;
}
.style_footer_element .heading{
	text-align:center;
	margin-bottom:50px;
}
.footer_widgets {
	margin:70px 0;	
}
.footer_widgets h5 {
	color:#fff;
	margin:0 auto 24px;		
}	
.footer_bottom {
	text-align:center;
	padding:25px 0;
	border-top:#232323 solid 1px;
}
.footer_bottom p {
	margin:0 auto;
}
.follow_us ul, .footer_nav ul {
	padding:0px;
	margin:0;
	list-style:none;
	overflow:hidden;
}
.follow_us ul li {
	display:inline-block;
	margin:0 auto;
}
.follow_us ul li a {
	display:block;
	width:48px;
	height:48px;
	text-align:center;
	line-height:46px;
	border-radius:50%;
	color:#fff;
	border:rgba(255, 255, 255, 0.3) solid 2px;
	font-size:20px;
	margin:0 5px 0 0;
}
.follow_us ul li a .fa {
	margin:0 auto;
}
.follow_us ul li a:hover {
	background:#38ccff;
}
.footer_nav ul li {
	float:left;
	width:50%; 
	margin:0 auto;
}
.footer_nav ul li a {
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  padding-left: 20px;
  position: relative;
}
.footer_nav ul li a:after {
	position:absolute;
	top:0px;
	left:0px;
	content:"\f105";
	font-family:fontawesome;
}
.footer_nav ul li a:hover {
	color:#38ccff;	
}
.newsletter_wrap {
  position: relative;
}
.newsletter_wrap .btn {
	position:absolute;
	top:0px;
	right:0px;
	border-radius:0 3px 3px 0;
}
.newsletter_wrap input[type="email"] {
	padding-right:150px;
}
.newsletter_wrap input[type="email"]:focus {
	border:0px;
	outline:0;
}
.footer_2 .footer_bottom {
	text-align:left;
}
.footer_2 .follow_us {
	text-align:right;
}
.footer_2 .footer_bottom p {
  margin: 10px auto;
}
.footer_2 .footer_widgets {
  margin: 50px auto;
  text-align: center;
  clear:both;
}
.footer_2 .newsletter_wrap {
	max-width:425px;
	margin:0 auto;
}
.footer_2  .footer_nav {
	display:inline-block;
	background:#0c0c0c;
	padding:10px 30px;
	border-radius:3px;
}
.footer_2  .footer_nav ul li {
  display: inline-block;
  float: none;
  margin: 0 auto;
  padding: 0 13px;
  position: relative;
  width: auto;
}
.footer_2  .footer_nav ul li:after {
	position:absolute;
	top:0px;
	right:-15px;
	content:"-";
	opacity:0.7;
}
.footer_2  .footer_nav ul li a {
	opacity:0.7;
}
.footer_2  .footer_nav ul li a:hover {
	opacity:1;
}
.footer_2  .footer_nav ul li a:after {
	display:none;
}
.footer_2 h5 {
  font-size: 24px;
}