#pricing_table {
	background-image:url(./pricing_bg.jpg);
}
.pricing_wrap {
	background:#eff0f0;
	padding:30px;
	margin:0 auto 30px;
	text-align:center;	
	border-radius:3px;
	position:relative;
	
	transition-duration:0.3s;
	 -moz-transition-duration:0.3s;
	  -o-transition-duration:0.3s;
	   -webkit-transition-duration:0.3s;
	    -ms-transition-duration:0.3s;
}
.pricing_header {
	margin:0 auto 25px;
	position:relative;
}
.pricing_header h2 {
	margin-top:0px;
	font-weight:400;
	font-size:36px;
}
.plan_info {
	background:#fff;
	padding:30px 30px 50px;
	border-radius:3px;
}
.plan_price {
	font-size:48px;
	color:#111;
	font-weight:700;
	margin:0px auto 18px;
	color:#38ccff;
}
.plan_info ul {
	margin:0 auto 35px;
	padding:0px;
	list-style:none;
}
.plan_info ul li span {
	font-weight:700;
	color:#111;
}
.popular_plan {
  background: #f26802 none repeat scroll 0 0;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  left: 30%;
  margin: 0 auto;
  position: absolute;
  right: 30%;
  text-transform: uppercase;
  top: -44px;
}