#aboutus_bg {
	background-image:url(./abtus.png) !important;
	padding:200px 0 150px;
	text-align:center;
}
#aboutus_bg .dark-overlay {
	background: rgba(0, 0, 0, 0.7)none repeat scroll 0 0;
  }
  
.box_wrap {
	border:#dedede solid 1px;
	border-radius:3px;
	padding:30px 20px;
	text-align:center;
	margin:40px auto;	
}
.box_wrap .fa {
	font-size:40px;	
	color:#111;
	margin:10px auto;
}
.box_wrap h4 {
	font-weight:400;
}
.box_wrap p {
	font-size:15px;
	line-height:26px;
	margin:0 auto 10px;
}
.fan_facts {
	padding:40px;
	overflow:hidden;
	margin:0 auto 40px;
}
.facts_info {
	float:left;
	width:25%;
	margin:0 auto 20px;
	text-align:center;
}
.facts_info p {
	font-size:20px;
	font-weight:300;
	margin:0 auto;
}
.facts_info p span {
	display:block;
	color:#111;
	font-size:70px;	
	line-height:70px;
}
.our_prtners {
	margin:30px auto;
}
.partner_logo {
	float:left;
	width:25%;
	padding:15px;
}
.gray_bg {
	background:#f0f2f2;
}
.section-header {
    clear: both;
    float: none !important;
    margin: 0 auto;
    max-width: 700px;
    padding-bottom: 10px;
}
.about_wrap {
	margin-top:10px;
  }
  .about_wrap img {
	  width:100%;
	  height:350px;
  }