
.listing_wrap {
    border: 1px solid #dedede;
    border-radius: 3px;
    margin: 0 auto 40px;
    overflow: hidden;
    position: relative;
  }
  .listing_header {
      margin:0 auto 30px;
      padding:10px 0;
      border-top:#eee solid 1px;
      border-bottom:#eee solid 1px;
      display:table;
      width:100%;
  }

  .listing_header h5 {
      font-weight:400;
      float:left;
  }
  .layout-switcher {
      float:right;
  }
  .layout-switcher a {
    background-color: #eeeeee;
    border-radius: 50%;
    color: #9d9d9d;
    display: inline-block;
    font-size: 14px;
    height: 39px;
    line-height: 40px;
    margin-right: 1px;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition: all 0.4s ease 0s;
    width: 39px;
  }
  .layout-switcher a.active, .layout-switcher a:hover {
      color:#fff;
      background:#38ccff	
  }
  .pagination_nav {
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    text-align: center;
  }
  .pagination, .pagination > li:last-child > a, .pagination > li:last-child > span {
      border-radius:0px;
  }
  .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover, .pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    background-color: #38ccff;
    color:#fff;
    margin:0 !important;
  }
  .pagination > li > a, .pagination > li > span {
    color: #111;
    border:0px;
    font-size:18px;
    padding:6px 15px;
  }
 .pagination ul{
     margin-top: 0 !important;
 }
  