@charset "utf-8";
.logo {
	margin:22px 0;	
	transition-duration:0.3s;
   -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
     -webkit-transition-duration:0.3s;
      -ms-transition-duration:0.3s;
}
.fixed-top{
  z-index: 2 !important;
}
.affix .logo {
	margin:17px 0;	
}
.affix .submit_listing {
  float: right;
  margin-top: 14px;
}
.submit_listing {
  float: right;
  /* margin-top: 20px; */
  margin-left:25px;
  transition-duration:0.3s;
   -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
     -webkit-transition-duration:0.3s;
      -ms-transition-duration:0.3s;
}
.submit_listing .btn {
  background:none;
  border-color: #ffffff;
  color: #ffffff;
  padding: 5px 22px;
  font-weight:400;
}
.header_solidbg .navbar.navbar-expand-lg {
	background:#111;
}
.header_solidbg .submit_listing .btn {
	background:#38ccff;
	border-color:#38ccff;
	font-weight:700;	
}
.arrow {
	display:none;
}

/*----------------
	Menu
--------------------------*/
.navbar.navbar-expand-lg {
  background: rgba(47, 59, 89, 1) none repeat scroll 0 0;
  border-color: currentcolor currentcolor rgba(255, 255, 255, 0.2);
  border-radius: 0;
  border-style: none none solid;
  border-width: 0 0 1px;
  margin: 0 auto;
  padding: 0;
  transition-duration:0.3s;
   -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
     -webkit-transition-duration:0.3s;
      -ms-transition-duration:0.3s;
}
.navbar.navbar-expand-lg.affix {
  background: rgba(0, 0, 0, 0.95) none repeat scroll 0 0;
  border:0px;
}
#navigation {
	padding:20px 0px;
	text-align:right;
}
#header .container-fluid {
    width: 98%;
}
#navigation .nav.navbar-nav {
	text-align: right;
    margin-right: 0 !important;
}
#navigation .nav.navbar-nav li {
	margin:0px;
	overflow:hidden;
	position:relative;
}
#navigation .nav.navbar-nav a {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
}
#navigation .nav.navbar-nav li > a {
	padding:31px 12px;	
}
.logout{
  background: rgba(255, 255, 255, 0.8);
  display: block;
  color:#111;
  font-size:14px;
  line-height: 20px;
  padding:16px 20px;
  cursor: pointer;
  position:relative;
}
.logout:focus,
.logout:hover{
  color: #38ccff ;

}
.affix #navigation .nav.navbar-nav li > a {
	padding:29px 12px;		
}


/*--------------------------
	Drop-Down-Menu
------------------------------*/
header .navbar-expand-lg .navbar-nav li.active a, 
header .navbar-expand-lg .navbar-nav li.active a:hover,
header .navbar-expand-lg .navbar-nav li.active a:focus {
  color: #38ccff ;
}
header .navbar-expand-lg .navbar-nav li.menu-item-has-children > a::before {
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 16px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
}
header .navbar-expand-lg .navbar-nav li.menu-item-has-children > a {
  padding-right:30px !important
}
header .navbar-expand-lg .navbar-nav li ul.sub-menu {
  background: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0;
  margin: 0;
  z-index: 99;
  text-align: left;
  height: 0;
  left: 10px;
  min-width: 210px;
  opacity: 0;
  position: absolute;
  top: 50px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow:rgba(0, 0, 0, 0.2) 0 0px 10px;
}
@media (min-width:768px) {
header .navbar-expand-lg .navbar-nav li:hover ul.sub-menu, 
header .navbar-expand-lg .navbar-nav li:hover ul.sub-menu:hover ul.children {
  height: inherit;
  opacity: 1;
}
}

#navigation .nav.navbar-nav > li:hover {
	overflow:visible;
}
header .navbar-expand-lg .navbar-nav li ul.sub-menu li,
header .navbar-expand-lg .navbar-nav li ul.children li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  display: block;
  margin:0 !important;
}
.navbar-expand-lg #navigation .navbar-nav li ul.sub-menu li:hover, 
.navbar-expand-lg #navigation .navbar-nav li ul.children li:hover {
	overflow:visible;
}
header .navbar-expand-lg #navigation .navbar-nav li ul.sub-menu li a,
header .navbar-expand-lg #navigation .navbar-nav li ul.children li a {
  background: rgba(255, 255, 255, 0.8);
  display: block;
  color:#111;
  font-size:14px;
  line-height: 20px;
  padding:16px 20px;
  position:relative;
}
.dropdown-menu {
	border:0px;
}
header #navigation .navbar-expand-lg .navbar-nav li ul.sub-menu li a:hover,
header #navigation .navbar-expand-lg .navbar-nav li ul.children li a:hover, 
.navbar.navbar-expand-lg #navigation .nav.navbar-nav li > a:hover {
  color: #38ccff;
}
header .navbar-expand-lg .navbar-nav li ul.sub-menu li:last-child,
header .navbar-expand-lg .navbar-nav li ul.children li:last-child {
  border-bottom: none;
}
header .navbar-expand-lg .navbar-nav li ul.sub-menu ul.sub-menu,
header .navbar-expand-lg .navbar-nav li ul.children ul.sub-menu,
header .navbar-expand-lg .navbar-nav li ul.sub-menu ul.children,
header .navbar-expand-lg .navbar-nav li ul.children ul.children {
  left: inherit;
  right: -100%;
  top: -1px;
}

.section-header {
    clear: both;
    float: none !important;
    margin: 0 auto;
    max-width: 850px;
    padding-bottom: 60px;
  }
header .navbar-expand-lg .navbar-nav li.active a, 
header .navbar-expand-lg .navbar-nav li.active a:hover,
header .navbar-expand-lg .navbar-nav li.active a:focus {
  color: #38ccff ;
}
header .navbar-expand-lg .navbar-nav li.menu-item-has-children > a::before {
    content: "\f107";
    font-family: "FontAwesome";
    font-size: 16px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
  }
  header .navbar-expand-lg .navbar-nav li.menu-item-has-children > a {
    padding-right:30px !important
  }
  header .navbar-expand-lg .navbar-nav li ul.sub-menu {
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding: 0;
    margin: 0;
    z-index: 99;
    text-align: left;
    height: 0;
    left: 10px;
    min-width: 210px;
    opacity: 0;
    position: absolute;
    top: 50px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow:rgba(0, 0, 0, 0.2) 0 0px 10px;
  }
  @media (min-width:768px) {
  header .navbar-expand-lg .navbar-nav li:hover ul.sub-menu, 
  header .navbar-expand-lg .navbar-nav li:hover ul.sub-menu:hover ul.children {
    height: inherit;
    opacity: 1;
  }
  }
  
  #navigation .nav.navbar-nav > li:hover {
      overflow:visible;
  }
  header .navbar-expand-lg .navbar-nav li ul.sub-menu li,
  header .navbar-expand-lg .navbar-nav li ul.children li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    display: block;
    margin:0 !important;
  }
  .navbar-expand-lg #navigation .navbar-nav li ul.sub-menu li:hover, 
  .navbar-expand-lg #navigation .navbar-nav li ul.children li:hover {
      overflow:visible;
  }
  header .navbar-expand-lg #navigation .navbar-nav li ul.sub-menu li a,
  header .navbar-expand-lg #navigation .navbar-nav li ul.children li a {
    background: rgba(255, 255, 255, 0.8);
    display: block;
    color:#111;
    font-size:14px;
    line-height: 20px;
    padding:16px 20px;
    position:relative;
  }
  .dropdown-menu {
      border:0px;
  }
  header #navigation .navbar-expand-lg .navbar-nav li ul.sub-menu li a:hover,
  header #navigation .navbar-expand-lg .navbar-nav li ul.children li a:hover, 
  .navbar.navbar-expand-lg #navigation .nav.navbar-nav li > a:hover {
    color: #38ccff;
  }
  header .navbar-expand-lg .navbar-nav li ul.sub-menu li:last-child,
  header .navbar-expand-lg .navbar-nav li ul.children li:last-child {
    border-bottom: none;
  }
  header .navbar-expand-lg .navbar-nav li ul.sub-menu ul.sub-menu,
  header .navbar-expand-lg .navbar-nav li ul.children ul.sub-menu,
  header .navbar-expand-lg .navbar-nav li ul.sub-menu ul.children,
  header .navbar-expand-lg .navbar-nav li ul.children ul.children {
    left: inherit;
    right: -100%;
    top: -1px;
  }
  .header_row{
	width:100%;
}
.section-header {
    clear: both;
    float: none !important;
    margin: 0 auto;
    max-width: 850px;
    padding-bottom: 60px;
  }
  .section-header p {
    font-size: 18px;
    margin: 20px auto 0;
  }
  .secondary-bg {
	background-color:#2F3B59 !important;
	color:#fff;
}
.primary-bg {
	background-color:#38ccff;
}
.gray_bg {
	background:#f0f2f2;
}
.section-padding {
  padding: 80px 0;
  position:relative;
}
.secondary-bg {
	background-color:#2F3B59 !important;
	color:#fff;
}
.primary-bg {
	background-color:#38ccff;
}
.gray_bg {
	background:#f0f2f2;
}
.section-padding {
  padding: 80px 0;
  position:relative;
}
.section-header {
  clear: both;
  float: none !important;
  margin: 0 auto;
  max-width: 850px;
  padding-bottom: 60px;
}
.section-header p {
  font-size: 18px;
  margin: 20px auto 0;
}
.signinLi{
  color: #fff;
  cursor: pointer;
}
.signinLi:hover{
  color:#38ccff
}
