.listing{
}
#listing_detail_banner {
	position:relative;
}
.listing_info_wrap {
  padding: 40px 0;
}
#message_modal{
  display: block !important;
  background:rgba(255, 255, 255, 0.2) !important;
}
.sliderlist{
  position: relative;
  left: 33%;
}
.view_map {
  background: #38ccff none repeat scroll 0 0;
  color:#fff;
  border-radius: 50%;
  bottom: 30px;
  font-size: 30px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  right: 30px;
  text-align: center;
  width: 50px;
  cursor:pointer;
  z-index: 1;
  transition-duration:0.3s;
   -moz-transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
     -o-transition-duration:0.3s;
     -ms-transition-duration:0.3s;
}
.view_map:hover {
	background:#111;	
}
.view_map a, .view_map:hover a {
  color: #ffffff;
  display: block;
  position: relative;
  z-index: 22;
}
.view_map:hover:after, .view_map:hover:before {
 border-color:#111;
 transition-duration:0.3s;
   -moz-transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
     -o-transition-duration:0.3s;
     -ms-transition-duration:0.3s;
}
.view_map::after {
  border: 5px solid #38ccff;
  border-radius: 50%;
  content: "";
  height: 120%;
  left: -10%;
  opacity: 0.5;
  position: absolute;
  top: -10%;
  width: 120%;
}
.view_map::before {
  border: 5px solid #38ccff;
  border-radius: 50%;
  content: "";
  height: 140%;
  left: -20%;
  opacity: 0.2;
  position: absolute;
  top: -20%;
  width: 140%;
}
.listing_detail_header {
  background-color:#f0f2f2;
  min-height: 190px;
  padding: 30px 0;
  text-align: left !important;
}
.pricing_info {
  overflow: hidden;
  padding: 0;
}
.listing_detail_header h1 {
	font-size:42px;
	margin:0 auto 10px;
}
.listing_rating p {
	color:#555;
	font-size:14px;
	float:left;
	margin:0 30px 0 0;
}
.ElemoListing_sidebar {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  margin: -190px auto 30px;
  padding: 30px;
}
.ElemoListing_sidebar ul, #amenities ul {
	padding:0px;
	margin:0;
	list-style:none;
}
.listing_contact_info ul li {
  padding: 2px 0px 2px 33px;
  position: relative;
  line-height:24px;
}
.listing_contact_info ul li .fa {
  font-size: 18px;
  left: 0px;
  margin: 0;
  position: absolute;
  top: 8px;
}
.listing_action_btn {
	overflow:hidden;
}
.listing_action_btn li {
  border: 1px solid #eeeeee;
  float: left;
  font-size: 13px;
  height: 120px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  width: 140px;
  margin-right:10px;
}
.listing_action_btn li:nth-child(2n) {
	margin-right:0px;
}
.listing_action_btn .fa {
  display: block;
  font-size: 53px;
  margin: 0;
  opacity: 0.5;
  transition-duration:0.3s;
   -moz-transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
     -o-transition-duration:0.3s;
     -ms-transition-duration:0.3s;
}
.listing_action_btn li a {
	color:#555;
	display:block;
	padding:20px 8px;
	cursor:pointer;
}
.listing_action_btn li a:hover .fa {
	opacity:1;
}
.sidebar_wrap {
  border-bottom: 1px solid #eeeeee;
  margin: 0 -30px 30px;
  padding: 0 30px 30px;
}
.sidebar_wrap:last-child {
	border:0px;
	margin-bottom:0px;
}
.sidebar_wrap .widget_title {
  margin: 0 auto 18px;
  padding-bottom: 2px;
}
.social_links {
	overflow:hidden;
	padding-top:10px;
}
.social_links a {
  background: #38ccff none repeat scroll 0 0;
  color: #ffffff;
  display: block;
  float: left;
  font-size: 20px;
  height: 40px;
  letter-spacing: 0.5px;
  margin: 10px 3% 0 0;
  padding: 7px;
  text-align: center;
  text-transform: uppercase;
  width: 40px;
  transition-duration:0.3s;
   -moz-transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
     -o-transition-duration:0.3s;
     -ms-transition-duration:0.3s;
}
.social_links a:hover {
	border-radius:6px;
}
.social_links a:last-child {
	margin-right:0px;
}
.social_links .facebook_link {
	background:#3b5a9a;
}
.social_links .linkedin_link {
	background:#007bb6;
}
.social_links .twitter_link {
	background:#19b5ee;
}
.social_links .google_plus_link {
	background:#dc4a38;
}
#listing_img_slider .owl-nav > div::after {
  opacity: 0.7;
}
#listing_img_slider .owl-nav > div::after {
  background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
  border-radius: 50%;
  font-size: 44px;
  height: 50px;
  left: 10px;
  line-height: 47px;
  text-align: center;
  width: 50px;
}
#listing_img_slider .owl-nav .owl-next::after {
  left: inherit;
  right: 10px;
}
#listing_img_slider .owl-nav > div:hover:after {
	background:#fff;
	opacity:1;
}	
#opening_hours ul {
	padding:0px;
	margin:0px;
	list-style:none;
}
.hours_title {
	display:block;
	float:left;
	width:35%;
	position:relative;
}
.hours_title:after {
	position:absolute;
	top:0px;
	right:0px;
	content:":";
}
#opening_hours li span {
	margin:0 10px;
	display:inline-block;
	vertical-align:top;
}
.pricing_info {
	overflow:hidden;
	padding:10px 0 30px;
}
.pricing_info p {
  display: inline-block;
  line-height: 50px;
  margin: 0 auto;
  vertical-align: middle;
}
.listing_price {
	font-size:40px;
	color:#111;
}
.listing_favorites .fa, 
p.listing_like .fa {
	width:32px;
	height:32px;
	text-align:center;
	border-radius:50%;
	line-height:30px;
	border:#38ccff solid 1px;		
	margin:0 3px 0 0;
}
.listing_price span, 
p.listing_like .fa, 
.listing_favorites .fa, 
.listing_favorites a:hover, 
.listing_favorites a:focus, 
p.listing_favorites .fa, 
p.listing_favorites a:hover, 
p.listing_favorites a:focus, 
p.listing_like a:hover, 
p.listing_like a:focus {
	color:#38ccff;	
}
.listing_favorites a, 
p.listing_like a {
	color:#111;
}
.listing_message {
  float: right;
  margin: 0 auto;
}
.listing_message .btn {
  padding: 10px 80px;
}

#amenities ul li {
	float:left;
	width:50%;
	position:relative;	
}
#amenities ul li a {
	color:#111;
}
#amenities ul li a:hover {
	color:#00a2da;
}
.listing_video iframe {
	width:100%;
	height:250px;
	border:0px;
}
#similar_listings.section-padding {
  padding: 50px 0;
}
#similar_listings .section-header {
	padding-bottom:40px;
}
#similar_listings .grid_col.show_listing:nth-child(2n+1) {
  clear: inherit;
}



/*---- Review -----*/
.reviews_list {
	padding:30px 0 0;
}
.review_form {
	padding-top:30px;
}
.reviews_list h4 {
	font-weight:300;
}
.reviews_list h4 span {
	font-weight:400;
}
.review_wrap {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  margin: 0 auto 30px;
  overflow: hidden;
  padding: 30px;
}
.review_author {
	float:left;
	width:100px;
}
.review_author img {
	border-radius:50%;
	max-width:90px;
}
.review_author h6 {
  font-size: 15px;
  text-align: center;
}
.review_detail {
  float: right;
  width: calc(100% - 120px);
}
.review_detail p {
  font-size: 14px;
  line-height: 23px;
}
.review_detail .listing_rating {
  overflow: hidden;
  padding: 10px 0;
}
.review_detail .listing_rating p {
	color:#999;
}
.review_detail h5 {
  font-size: 20px;
  margin: 0 auto 14px;
}
.review_form .fa-star:hover {
	color:#fd6c02;	
}
.review_form .review_score {
  margin: 0 0 0 10px;
}
.review_form form {
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  margin: 0 auto 40px;
  padding: 30px 30px 25px;
}
.listing_rating {
  display: inline-block;
  overflow: hidden;
}
.listing_rating:hover input[type="radio"]:checked~label {
	color:#dadada;
}
.listing_rating input[type="radio"] {
	display:none;
}
.listing_rating input[type="radio"]:checked~label {
	color:#ffc600;
}
.listing_rating label {
	font-size:24px;
	float:right;
	letter-spacing:4px;
	color:#dadada;
	cursor:pointer;
	transition:0.3s;
}
.listing_rating label:hover, .listing_rating label:hover~label {
	color:#ffc600!important;
}
