@charset "utf-8";

body {
	font-family: 'Open Sans', sans-serif;
	overflow-x:hidden;
	color:#555555;
	font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
	color:#000;
	font-weight:400;
}
h1 {
	font-size: 55px;
}
h2 {
	font-size: 40px;
}
h3 {
	font-size: 32px;
}
h4 {
	font-size:24px;
}
h5 {
	font-size: 22px;
}
h6 {
	font-size: 20px;
}
p {
	font-size:16px;
	line-height:30px;
	margin-bottom:15px;
}
a {
	transition-duration:0.5s;
	 -moz-transition-duration:0.5s;
	  -o-transition-duration:0.5s;
	   -webkit-transition-duration:0.5s;
	    -ms-transition-duration:0.5s;
	text-decoration:none;
	color:#38ccff;
}
a:hover, a:focus {
	text-decoration:none;
	outline:none;
	color:#03aee9;
}
ul, ol {
	margin:0 auto 20px;
}
ul li, ol li {
  font-size: 16px;
  line-height:30px;
  margin: 0 auto 10px;
}
ul li i, ol li i {
	margin:0 12px 0 0;
}
ul.list_style_none, ol.list_style_none {
	list-style:none;
}
ul.list-with-icon {
	padding-left:10px;
	margin-bottom:30px;
}
ul.list-with-icon li {
  line-height: 20px;
  margin-bottom: 15px;
  padding-left: 23px;
  position: relative;
  list-style:none;
}
ul.list-with-icon li i {
  left: 0;
  position: absolute;
  top: 4px;
}

blockquote {
	background:#f5f5f5 ;	
}
img {
	max-width:100%;
}
.white-text, 
.white-text h1, 
.white-text h2, 
.white-text h3, 
.white-text h4, 
.white-text h5, 
.white-text h6, 
.white-text p {
	color:#fff;	
}
.uppercase {
	text-transform:uppercase;
}
.underline {
	text-decoration:underline;
}
.divider {
  border-bottom: 1px solid #dcd9d9;
  clear: both;
  margin: 40px auto;
}
.divider.double {
  border-bottom: 3px double #dcd9d9;
}

.btn {
  background: #38ccff none repeat scroll 0 0;
  border: medium none;
  border-radius: 3px;
  color: #ffffff;
  font-size: 16px;
  font-weight:700;
  line-height: 30px;
  margin: auto;
  width:auto;
  padding: 8px 22px;
    transition: all 0.3s linear 0s;
   -moz-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
     -webkit-transition: all 0.3s linear 0s;
      -ms-transition: all 0.3s linear 0s;
}
.outline-btn {
	border:#38ccff solid 2px;
	background:none;
	color:#38ccff;
}
.btn-sm {
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
  padding: 5px 10px;
}
.btn-link {
	color:#38ccff;
}

.btn:hover, .btn:focus {
	background:#03aee9;
	color:#fff;
}
.btn-link:focus, .btn-link:hover {
	color:#03aee9;
}


.div_zindex {
  position: relative;
  z-index: 1;
}
.dark-overlay {
  background: rgba(47, 59, 89, 1) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


.padding_none {
	padding:0px;
}
.padding {
	padding:20px 0;
}
.padding_50px {
	padding:50px 0;
}
.padding_4x4_30 {
	padding:30px;	
}
.padding_4x4_40 {
	padding:40px;	
}
.space-20 {
    width:100%;
    height: 20px;
	clear:both;
}
.space-30 {
    width:100%;
    height: 30px;
	clear:both;
}
.space-40 {
    width:100%;
    height: 40px;
	clear:both;
}
.space-60 {
    width:100%;
    height: 60px;
	clear:both;
}
.space-80 {
    height: 80px;
    width:100%;
}
.margin-btm-20 {
    margin-bottom: 20px;
	clear:both;
}
.margin-none {
	margin:0px;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}
.form-label {
  clear: both;
  display: block;
  font-size: 15px;
  font-weight: 800;
  margin: 0 auto 8px;
}
.form-control, form input, form textarea, form select {
  background: #eeeeee none repeat scroll 0 0;
  border: 0 none;
  border-radius: 3px;
  box-shadow: none;
  color: #888888;
  font-size: 14px;
  height: 50px;
  line-height: 30px;
  padding: 0 20px;
  width:100%;
}
.form-control:focus, 
form input:focus, 
form textarea:focus, 
form select:focus {
  box-shadow:none;
  outline:#38ccff solid 1px;	
}
textarea {
	width:100%;
	min-height:150px;
}
textarea.form-control {
	padding:15px 20px;
}

.select {
	position:relative;
}
.select select {
  appearance: none;
   -moz-appearance: none;
   -o-appearance: none;
   -webkit-appearance: none;
   -ms-appearance: none;
  
}
.select::after {
  color: #878787;
  content: "";
  cursor: pointer;
  font-family: fontawesome;
  font-size: 15px;
  padding: 12px 0;
  pointer-events: none;
  position: absolute;
  right: 15px;
  top: 0;
}
.form-control option {
  padding: 10px;
}
.control-label {
	color:#555;
	font-size:15px;
	font-weight:700;	
}
.checkbox, .radio {
  margin-bottom: 15px;
  margin-top:0px;
}
.radio label, .checkbox label {
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  padding-left: 26px;
  position: relative;
  line-height:22px;
}
.radio input[type=radio],
.checkbox input[type=checkbox] {
	display: none;
}
.radio label:before {
    background-color:transparent;
	border-style:solid;
	border-width:1px;
	border-radius:50%;
    content: "";
    display: inline-block;
    height: 15px;
    left: 0;
	top:4px;
    position: absolute;
    width: 15px;	
}
.checkbox label::before {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #cccccc;
  content: "";
  display: inline-block;
  height: 16px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 16px;
}
.radio input[type=radio]:checked + label:before {
	content: "\2022";
	font-size: 13px;
	text-align: center;
    line-height: 12px;
	font-weight:bold;
}
.checkbox input[type=checkbox]:checked + label:before {
	content: "\2713";
	font-size: 13px;
	text-align: center;
    line-height: 12px;
	font-weight:bold;
}


table {
	margin:0 0 30px;
	width:100%;
}
table th, table td {
  border: 1px solid #cccccc;
  padding: 15px;
  padding:18px;
}
table th img, table td img {
	max-width:100%;
}
table thead {
	background:#eee;
}
table thead th, table thead td {
	text-transform:uppercase;
	font-weight:900;
	color:#111;
}
.panel.panel-default {
	margin:0 auto 30px;
}
.panel-group {
  padding-top: 14px;
}
.panel-default {
  border-color: #ecebeb;
}
.panel-default > .panel-heading {
  background-color: #fafafa;
  border-color: #ecebeb;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ecebeb;
}
.panel-group .panel {
  border-radius: 0;
}
.panel-group .panel .panel-title {
  font-size: 20px;
  font-weight: 400;
}
.panel-group .panel .panel-title a.collapsed {
	color:#111;
}
.panel-group .panel .panel-title a {
	padding:10px;
	display:block;
}
.panel-group .panel .panel-title a:hover, 
.panel-group .panel .panel-title a {
	color:#111;
	position:relative;
	padding-right:25px;
}
.panel-group .panel .panel-title a:after {
	position:absolute;
	top:10px;
	right:10px;
	font-family:fontawesome;
	content:"\f107";	
}
.panel-group .panel .panel-title a.collapsed:after {
	content:"\f105";	
}
.panel-group .panel .panel-title a.collapsed {
	color:#111;
}
.panel-collapse .panel-body {
	padding:25px;
}
.secondary-bg {
	background-color:#2F3B59 !important;
	color:#fff;
}
.primary-bg {
	background-color:#38ccff;
}
.gray_bg {
	background:#f0f2f2;
}
.section-padding {
  padding: 80px 0;
  position:relative;
}
.section-header {
  clear: both;
  float: none !important;
  margin: 0 auto;
  max-width: 850px;
  padding-bottom: 60px;
}
.section-header p {
  font-size: 18px;
  margin: 20px auto 0;
}
.parallex-bg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.modal-dialog {
  background-color: rgba(255, 255, 255, 0.3);
  max-width: 500px;
}
.modal-content {
  padding: 0 32px 22px;
}
.modal-header {
	padding:15px 0;
	margin-bottom:15px;
	display: block;
}
.modal-header p {
	margin:0 auto;
}
.modal-body {
	padding:10px 0;
}
.modal .modal-header .close {
  background: #000000 none repeat scroll 0 0;
  border-radius: 50%;
  color: #ffffff;
  font-size: 19px;
  height: 31px;
  line-height: 0px;
  margin-top: 5px;
  opacity: 1;
  text-align: center;
  text-shadow: none;
  width: 31px;
}
.modal .modal-header .close span{
  margin: -4px;
}
.modal.in .modal-dialog {
  transform: translate(0px, 20px);
   -moz-transform: translate(0px, 20px);
    -o-transform: translate(0px, 20px);
     -webkit-transform: translate(0px, 20px);
}
#inner_pages {
  padding:150px 0;	
  
}
#inner_banner {
	background-image:url(../images/banner.jpg);
	padding:180px 0 120px;
}
#inner_banner h1 {
	font-size:46px;
}






/*============================
	12. Responsive CSS
======================================*/
@media (min-width:992px) and (max-width:1200px) {
h3 {
  font-size: 30px;
}
.submit_listing {
  margin-left: 10px;
}
#banner .search_form, 
#intro_map .search_form {
  width: 940px;
}
.newsletter_wrap input[type="email"] {
  padding-right: 120px;
}
.form-control, form input, form textarea, form select {
  font-size: 13px;
}
.follow_us ul li a {
  margin: 0 1px 0 0;
}
.owl-nav > div::after {
  font-size: 50px;
  left: -25px;
}
.owl-nav .owl-next::after {
  right: -25px;
}
.cities_list {
  height: 222px;
}
.popular_plan {
  left: 0;
  right: 0;
}
.pricing_header h2 {
  font-size: 33px;
}
.plan_info {
  padding: 20px 15px 40px;
}
.pricing_wrap {
  padding:20px 15px 15px;
}
.footer_bottom p {
  font-size: 15px;
}
.facts_info p span {
  font-size: 50px;
}
.facts_info p {
  font-size: 17px;
}
#inner_banner {
  padding: 160px 0 100px;
}
.office_info_box {
  padding: 30px 15px;
}
.entry-desc h3 {
  font-size: 22px;
}
.widget_title h4 {
	font-size:22px;
}
.entry-content p {
  font-size: 14px;
  line-height: 22px;
}
.listview .listing_img {
  width: 36.5%;
}
.listview .listing_info {
  width: 63.5%;
}
.listview_sidebar .listing_img{
  width: 48%;
}
.listview_sidebar .listing_info {
  padding: 21px 13px 0;
  width: 52%;
}
.listview_sidebar .listing_info .listing_review_info {
	margin-top:10px;
	padding:4px 20px;
}
.listview_sidebar .listing_info .listing_review_info p {
  float: none;
}
.listview_sidebar .listing_info .listing_review_info .listing_map_m {
  float: none;
  margin-top: 5px;
}
.col-md-6.show_listing.grid_col .listing_info .listing_review_info p {
	float:none;
	margin:2px auto;
}
.ElemoListing_sidebar {
	margin-top:0px;
	padding:20px;
}
.listing_action_btn li {
  font-size: 11px;
  margin-right: 5px;
  width: 124px;
}
.listing_detail_header h1 {
  font-size: 40px;
}
.review_wrap {
  padding: 20px 15px;
}
.grid_col .listing_info .listing_review_info p {
	float:none;
	margin:2px auto;
}
.header_style2 .submit_listing{ margin-left:5px;}
.front_nav_bar{margin-left:10px;}

}


@media (min-width:768px) and (max-width:991px) {
h2 {
  font-size: 38px;
}
.navbar-header {
  float: none;
  text-align: center;
}
.navbar.navbar-expand-lg {
  padding: 10px 0;
}
#navigation .nav.navbar-nav li > a, .affix #navigation .nav.navbar-nav li > a {
  padding: 20px 12px;
}
header .navbar-expand-lg .navbar-nav li.menu-item-has-children > a {
  padding-right: 26px !important;
}
.submit_listing, .affix .submit_listing {
  margin-left: 10px;
  margin-top: 10px;
}
.logo, .affix .logo {
  margin: 0 0 5px;
}
#banner .search_form {
  width: 720px;
}
#intro_map .search_form  {
  width: 720px;
  padding:15px;
}
.owl-nav > div::after {
  font-size: 50px;
  left: -20px;
}
.owl-nav .owl-next::after {
  right: -25px;
}
.section-header p {
  font-size: 17px;
}
.cities_list {
  max-width: inherit;
}
.icon_div {
  top: 18px;
}
.footer_2 .follow_us, .footer_2 .footer_bottom p {
  text-align: center;
}
#inner_banner {
  padding: 170px 0 90px;
}
.facts_info {
  margin: 0 auto 40px;
  width: 50%;
}
.facts_info p span {
  font-size: 60px;
}
.partner_logo {
  padding: 10px;
  width: 50%;
}
.how_it_work_info {
  padding: 0 0 30px 70px;
}
.how_it_work_info h3 {
  font-size: 26px;
}
.how_it_work_info p {
  font-size: 15px;
  line-height: 25px;
}
.step_n {
  font-size: 60px;
  top: -18px;
}
.sub_heading p {
  font-size: 25px;
}
.listview .listing_img {
  width: 47%;
}
.listview .listing_info {
  width: 53%;
}
.ElemoListing_sidebar {
	margin-top:0px;
}
.style2_header .pricing_info {
  padding-bottom: 0;
  text-align: left;
}
.listing_detail_2 .listing_action_btn ul li {
  font-size: 14px;
  letter-spacing: 0;
  margin-right: 1%;
  width: 24.2%;
}
.listing_detail_2 .listing_action_btn ul li a {
  padding: 10px;
}
.listing_detail_2 .listing_action_btn .fa {
  font-size: 15px;
}
.search_wrap .form-group, .search_wrap .btn_group {
  width: 100%;
  margin:0 auto 15px;
}
.ElemoListing_map {
  height: 400px;
  position: relative;
  width: 100%;
}
#ElemoListing_with_map, .listing-with-map-page #footer {
	padding-right:0px;
}
.header_style2 .submit_listing{ margin-left:5px;}
.front_nav_bar{margin-left:10px; display:none;}
.header_style2 .navbar-nav{ top:0px;}
#intro_map.intro_map_style2{ min-height:1px;}
.intro_map_style2 #map{ min-height:600px; width:100%;}
.intro_search{ position:relative; width:100%; float:left; height:auto; padding:30px;}
.intro_search .intro_search_content{ position:inherit; top:0px; transform: none; -webkit-transform: none; width:100%; float:left;}
.intro_search h2{ margin-bottom:20px;}
#intro_map .intro_search .search_form{ padding:0px; width:100%;}
.work_step{ margin-bottom:30px;}
.footer_style_3 .newsletter_wrap .btn{ float:left}
.footer_style_3 .follow_us{ text-align:center}
.footer_contact{ text-align:left}
.footer_style_3 .footer_bottom{ margin-top:30px;}

.header_style3 .navbar-header{ float:left}
.header_style3 .submit_listing{ margin:0px;}
.header_style3 .dashboard_menu > li > a{ padding-top:9px; padding-bottom:9px;}
.header_style3 .affix .logo{ margin-bottom:10px;}
.footer_style_4 .footer_bottom .text-left{ text-align:center; padding-top:0px; padding-bottom:15px;}
.footer_style_4 .follow_us{ float:none}
}



@media (max-width:767px) {
.transparent-header .navbar.navbar-expand-lg {
	background: #2F3B59 !important;
}
.navbar.navbar-expand-lg{
	background: #2F3B59 !important;
}
#navigation .nav.navbar-nav li {
	padding: 18px 0;
}
.arrow {
  display:block;
  cursor: pointer;
  display: block;
  height: 52px;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  z-index: 1;
}
header .navbar-expand-lg .navbar-nav li ul.sub-menu {
  height: auto;
  left: 0;
  opacity: 1;
  position: relative;
  top: inherit;
  display:none;
}
header .navbar-expand-lg .navbar-nav li ul.sub-menu ul.sub-menu, header .navbar-expand-lg .navbar-nav li ul.children ul.sub-menu, header .navbar-expand-lg .navbar-nav li ul.sub-menu ul.children, header .navbar-expand-lg .navbar-nav li ul.children ul.children {
  box-shadow: none;
  left: inherit;
  right: 0;
  top: 0;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
/* .navbar .navbar-header { */
	/* margin:0 auto; */
/* } */
.logo {
	float:left;
}
.nav>li {
    position: relative;
    display: block;
}
.fixed-top .navbar-collapse {
    max-height: 450px;
}

.navbar-collapse{
    overflow-y: auto;
}
@media (max-width:992px){
.navbar-expand-lg .container-fluid{
	padding-right: 15px !important;
    padding-left: 15px !important;
}
}
.navbar-toggle {
  border-radius: 0;
  margin-right: 0;
  margin-top: 24px;
}
#banner {
  padding: 170px 0 120px;
}
#banner .search_form {
  width: 100%;
}
.search_wrap .form-group, .search_wrap .btn_group {
  width: 100%;
  margin:0 auto 15px;
}
#banner .search_form .form-control, #banner .search_form form input, #banner .search_form form textarea, #banner .search_form form select, #intro_map .search_form .form-control, #intro_map .search_form form input, #intro_map .search_form form textarea, #intro_map .search_form form select, 
.search_form .form-control, .search_form form textarea, .search_form form select, .search_form form .btn, 
.search_wrap .form-group select {
  padding: 0 15px;
  font-size:14px;
  height:55px;
}
#banner .select::after, #intro_map .select::after, 
.search_form .select::after {
  right: 10px;
  top: -5px;
}
#navigation {
  border: 0 none;
  margin: 0;
  padding: 0;
  text-align: left;
}
#navigation .nav.navbar-nav{
  border: 0 none;
  display:block;
  margin: 0;
  padding: 0;
  text-align: left;
}
#navigation .nav.navbar-nav li > a, 
.affix #navigation .nav.navbar-nav li > a {
  padding: 18px 0;
}
.submit_listing, 
.affix .submit_listing {
  float: none;
  margin: 20px 0 30px;
}
.section-header p {
  font-size: 17px;
  line-height: 28px;
}
.cities_list {
  height: 220px;
  margin: 0 auto 20px;
  max-width: 380px;
}
.form_wrap_m .white_box {
  padding: 15px;
}	
.form_wrap_m p {
  font-size: 15px;
}
 #popular_listing_slider .owl-nav, 
 #category_slider .owl-nav {
	display:none;
}
#intro_map .search_form {
  left: 15px;
  padding: 15px;
  right: 15px;
  width: auto;
}
.icon_div {
  top: 18px;
}
.footer_2 .follow_us, .footer_2 .footer_bottom p {
  text-align: center;
}
#inner_banner {
  padding: 170px 0 90px;
}
#inner_pages {
  padding: 50px 0;
}
.facts_info {
  margin: 0 auto 40px;
  width: 50%;
}
.facts_info p span {
  font-size: 60px;
}
.partner_logo {
  padding: 10px;
  width: 50%;
}
.how_it_work_info {
  padding: 0 0 0 100px;
}
.step_n {
  font-size: 70px;
  left: 10px;
  top: -20px;
}
.sub_heading p {
  font-size: 25px;
}
.not_found_msg .error_msg_div h2 span {
  font-size: 150px;
  line-height: 140px;
}
.not_found_msg {
  padding: 30px 30px 40px;
}
.share_post a {
  font-size: 14px;
}
.commentlist li img.avatar {
  height: 64px;
  width: 64px;
}
.comment-content, .commentlist .reply {
  margin-left: 90px;
}
.comment ul.children {
  padding-left: 60px;
}
.sidebar .sidebar_widgets {
	margin-left:0px;
}
.listview .listing_img, .listview .listing_info, 
.listview_sidebar .listing_img, .listview_sidebar .listing_info  {
  width: auto;
  float:none;
}
.listview .listing_info {
	padding:20px 20px 0;
}
.sidebar_widgets {
  margin: 30px auto 0;
}
.ElemoListing_sidebar {
	margin-top:0px;
}
.listing_message .btn {
  padding: 10px 50px;
}
.listing_detail_2 .listing_action_btn ul li {
  font-size: 14px;
  letter-spacing: 0;
  margin-right: 1%;
  width: 24.2%;
}
.listing_detail_2 .listing_action_btn ul li a {
  padding: 10px;
}
.listing_detail_2 .listing_action_btn .fa {
  font-size: 15px;
}
.listing_detail_2 .listing_action_btn ul li {
  font-size: 12px;
}
.listing_detail_2 .listing_action_btn ul li a {
  padding: 10px 0;
}
.style2_header .pricing_info {
  padding-bottom: 0;
  text-align: left;
}
.listing_action_btn li {
  letter-spacing:0px;
  margin-right: 1%;
  width: 24%;
}
.listing_action_btn li:nth-child(2n) {
  margin-right: 1%;
}
.owl-nav .owl-next::after {
  right: -10px;
}
.owl-nav > div::after {
  left: -10px;
}
#ElemoListing_with_map, .listing-with-map-page #footer {
	padding-right:0px;
}

.ElemoListing_map {
	position:relative;
	width:100%;
	height:400px;
}

.header_style2 .submit_listing{ margin-left:5px;}
.front_nav_bar{margin-left:10px; display:none;}
.header_style2 .navbar-nav{ top:0px;}
#intro_map.intro_map_style2{ min-height:1px;}
.intro_map_style2 #map{ min-height:600px; width:100%;}
.intro_search{ position:relative; width:100%; float:left; height:auto; padding:30px;}
.intro_search .intro_search_content{ position:inherit; top:0px; transform: none; -webkit-transform: none; width:100%; float:left;}
.intro_search h2{ margin-bottom:20px;}
#intro_map .intro_search .search_form{ padding:0px; width:100%;}
.work_step{ margin-bottom:30px;}
.footer_style_3 .newsletter_wrap .btn{ float:left}
.footer_style_3 .follow_us{ text-align:center}
.footer_contact{ text-align:left}
.footer_style_3 .footer_bottom{ margin-top:30px;}
.footer_style_3 .footer_widgets{ margin:40px 0px}

.header_style3 .navbar-header{ float:left; width:100%;}
.header_style3 .menu_bar{ background:#f9f9f9;}
.top_login_submit{ float:right; width:100%;}
.header_style3 .dashboard_menu{ margin:0px;}
.header_style3 .submit_listing{ margin:0px; float:right}
.header_style3 .dashboard_menu > li > a{ padding-top:9px; padding-bottom:9px;}
.header_style3 .affix .logo{ margin-bottom:10px;}
.header_style3 .navbar-fixed-top.affix{ height:100px;}
.menu_bar_icon{ float: right; width: 20%}
.navbar-expand-lg .navbar-toggle{ margin:13px 0px 0px 0px;}
.menu_bar #navigation{ float:left; width:100%;}
.menu_bar #navigation .nav.navbar-nav li > a, .affix .menu_bar #navigation .nav.navbar-nav li > a{
	 padding: 18px 15px;
}
.footer_style_4 .footer_bottom .text-left{ text-align:center; padding-top:0px; padding-bottom:15px;}
.footer_style_4 .follow_us{ float:none}
.footer_about, .footer_style_4 .footer_widgets{ padding:50px 10%;}
}
.navbar-toggler {
	float: right;
	background: #fff;
	margin-top: -55px;
}

@media (max-width:600px) {
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 26px;
}
#banner {
  padding: 150px 0 100px;
}	
#banner .search_form {
  display: block;
}
#banner .search_form .form-group, #intro_map .search_form .form-group, 
#banner .search_form .form-group.search_btn, #intro_map .search_form .form-group.search_btn,
#listing_banner .form-group, 
#listing_banner .btn_group {
  float: none;
  margin: 0 auto 14px;
  width: 100%;
}
#category_slider {

  margin: 0 auto;
  width: 250px;
}
.section-header p {
  font-size: 15px;
  line-height: 23px;
}
.white_box {
  padding: 30px 25px;
}
p {
  font-size: 15px;
  line-height: 26px;
}
.section-padding {
  padding: 50px 0;
}
.listing_info .listing_review_info p {
  float: none;
  margin: 0 auto 10px;
}
.listing_info .listing_review_info .listing_map_m {
  float: none;
}
.footer_nav ul li {
  float: none;
  width: 100%;
}
#popular_listing_slider {
  margin: 0 auto;
}
 #category_slider .owl-nav {
	display:block;
}
#category_slider .item {
	box-shadow:none;
}
.steps_wrap {
  padding: 20px 15px 22px 90px;
}
.icon_div {
  font-size: 60px;
  left: 10px;
  width: 70px;
}
.pricing_wrap {
  margin-bottom: 40px;
  padding: 30px 15px 15px;
}
.plan_info {
  padding: 20px 20px 40px;
}
.fan_facts {
  padding: 20px;
}
.facts_info {
  margin: 0 auto 40px;
  width: 100%;
}
.facts_info p span {
  font-size: 40px;
}
.partner_logo {
  padding: 10px 0;
  width: 100%;
}
#inner_banner h1 {
  font-size: 38px;
}
.how_it_work_info {
  padding: 0 0 0 70px;
}
.step_n {
  font-size: 52px;
  left: 0;
  top: -13px;
}
.how_it_work_info p {
  font-size: 14px;
  line-height: 24px;
}
.how_it_work_info h3 {
	font-size:24px;
}
.sub_heading {
  padding:20px 15px;
}
.sub_heading p {
  font-size: 19px;
  line-height: 28px;
  margin: 0 auto 15px;
}
.popular_plan {
  left: 20%;
  right: 20%;
  top: -40px;
}
.not_found_msg .error_msg_div h2 span {
  font-size: 70px;
  line-height: 70px;
}
.not_found_msg .error_msg_div h2 {
	font-size:24px;
}
.entry-desc h3 {
  font-size: 24px;
}
.widget_title h4 {
	font-size:22px;
}
.commentlist li img.avatar {
  height: 40px;
  width: 40px;
  margin-right:10px;
}
.comment-content, .commentlist .reply {
  margin-left: 50px;
}
.comment ul.children {
  padding-left: 30px;
}
.comment-content p {
	font-size:14px;
	line-height:22px;
}
.share_post a {
  margin-bottom: 5px;
  width: 49%;
}
.layout-switcher, .listing_header h5 {
  clear: both;
  float: none;
  text-align: center;
}
.listing_rating p {
  float: none;
  margin: 0 auto 10px;
}
.listing_detail_header h1 {
  font-size: 37px;
}
.listing_rating p.listing_favorites, 
.listing_rating p.listing_like {
	float:left;
	margin-right:20px;
}
.pricing_info p {
  display: block;
  margin: 0 auto 10px;
}
.listing_message {
  float: none;
}
#amenities ul li {
  float: none;
  width: 100%;
  font-size:15px;
}
.panel-collapse .panel-body {
  padding: 15px;
}
#opening_hours ul li {
	font-size:15px;
}
.hours_title {
  width: 114px;
}
#opening_hours li span {
  margin: 0 2px;
}
#opening_hours ul li i {
	margin-right:6px;
}
.review_form form {
  padding: 30px 20px;
}
.review_wrap {
  padding: 15px;
}
.review_author {
  width: 60px;
}
.review_author img {
  max-width: 100%;
}
.review_detail {
  width: calc(100% - 80px);
}	
.listing_detail_2 .listing_action_btn ul li {
  font-size: 14px;
  width: 49%;
}
.listing_action_btn li {
  letter-spacing:0px;
  margin-right: 1%;
  width: 49.5%;
}

.partners_logo ul li{ width:50%;}
.city_panel{ height:auto;}
.city_panel .city_picture{ width:100%; max-width:100%; background-size:100%;}
.city_panel .city_content::after{ display:none;}
.city_panel .city_content{width:100%;}
.testimonial_inner_content{ padding:20px;}
.testimonial_inner_content p{ font:15px;}
.footer_contact ul li span{font:18px;}
.author_block{ width:100%; text-align:center}
.author_block figure{ display:inline-block;}
.author_block img{ display:inline-block; float:none;}
.footer_about, .footer_style_4 .footer_widgets{ padding:50px 30px;}
.footer_style_4 .footer_nav ul li{width:100%;}
}


@media (max-width:480px) {
.review_wrap {
	text-align:center;
}
.review_author, .review_detail {
  width: auto;
  float:none;
}
.review_author img {
  max-width: 100%;
}
.listing_detail_2 .listing_action_btn ul li {
  font-size: 12px;
  width: 49%;
}
.listing_detail_2 .listing_action_btn ul li:nth-child(2) {
	margin-right:0px;
}
.listing_detail_2 .listing_action_btn ul li a {
  padding: 10px 0;
}
.ElemoListing_sidebar {
  padding: 20px 15px;
}



}

#header .sticky {
    -webkit-animation-name: fadeHeaderInDown;
    -moz-animation-name: fadeHeaderInDown;
    -o-animation-name: fadeHeaderInDown;
    animation-name: fadeHeaderInDown;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 22;
    background: #2F3B59;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-group .panel-heading {
    border-bottom: 0;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}