.sample_loader{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1300;
    background: rgba(255, 255, 255, 0.7);
    overflow: hidden;
}
.sample_loader img{
    position: absolute;    
    top: 50%;
    left: 50%;
    max-height: 100px;
    max-width: 100px;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
}