#banner {
  background-image:url(./banner2.jpg);
  padding:200px 0 150px;
	text-align:center;
}
#banner .dark-overlay {
  background: rgba(0, 0, 0, 0.55) none repeat scroll 0 0;
}
.intro_text h5 {
  font-weight:500;
}
.intro_text h1 {
  font-weight:bold;
}
#banner .search_form {
  display: table;
  margin: 45px auto 0;
  width: 1024px;
}
#banner .search_form .form-group, 
#intro_map .search_form .form-group {
  width: 42%;
  margin-right:0.5%;	
  margin-bottom:0px;

}
#banner .search_form .form-group.search_btn, 
#intro_map .search_form .form-group.search_btn {
  width: 15%;
  margin:0;
}
#banner .search_form  .form-control, 
#banner .search_form  form input, 
#banner .search_form  form textarea, 
#banner .search_form  form select, 
#intro_map .search_form  .form-control, 
#intro_map .search_form  form input, 
#intro_map .search_form  form textarea, 
#intro_map .search_form  form select {
	padding:0 30px;
}
#banner .select::after, #intro_map .select::after {
  right: 30px;
}
.search_form .form-group {
	float:left;
}
.search_form  .form-control, .search_form  form input, .search_form  form textarea, .search_form  form select {
  font-size: 16px;
  height: 60px;
  padding: 0 20px;
}
.search_form .select::after {
  font-size: 26px;
}


