.listing-wp {
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.03) 0 0 20px;
	margin: 0 auto 30px;
}
.listing-info-wp {
	padding: 30px;
}
.listing-footer {
	padding: 20px 30px;
	font-size: 15px;
	color: #999;
	border-top: rgba(0, 0, 0, 0.1) solid 1px;
}
.listing-info-wp h5 {
	margin: 0 auto 15px;
}
.listing-info-wp h5 a {
	color: #222;
}
.listing-rating {
	margin: 0 auto 10px;
}
.listing-info-wp  p {
	font-size: 15px;
	line-height: 24px;
	margin: 0 auto 25px;
}
.listing-info-wp h5 a:hover {
	color: #38ccff;
}
.listing-categories a {
	margin: 0 5px 0 0;
	display: inline-block;
	padding: 7px 25px;
	border-radius: 3px;
	background: #e2f8ff;
	color: #555;
}
.listing-categories a:hover {
	background: #38ccff;
	color: #fff;
}