#popular_listing_slider .listing_wrap {
    border-radius: 3px;
    border:1px solid #dedede;
    overflow: hidden;
    margin:0 auto 20px;
    position:relative;
  }
  .listing_info {
    padding: 20px 20px 0;
  }
  .listing_info a {
      color:#111;
  }
  .listing_info a:hover {
      color:#38ccff;
  }
  .listing_info p {
    color: #a5a5a5;
    font-size: 15px;
    line-height: 25px;
  }
  .listing_info .listing_review_info p {
    color: #b5b5b5;
    font-size: 13px;
    margin: 0 auto;
    float:left;
  }
  .review_score {
    background: #38ccff none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    margin-right: 4px;
    padding: 4px 10px;
  }
  .listing_review_info .active, .fa-star.active {
      color:#ffc600;	
  }
  .listing_review_info {
    background: #f6f6f6 none repeat scroll 0 0;
    margin: 24px -20px 0;
    overflow: hidden;
    padding: 16px 20px;
  }
  .like_post {
      position:absolute;
      top:15px;
      right:15px;
  }
  .listing_img {
      position:relative;
      overflow:hidden;
  }
  .listing_img:before {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.6) 70%) repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translateY(50%);
     -moz-transform: translateY(50%);
      -o-transform: translateY(50%);
       -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
    transition: all 0.35s ease 0s;
     -moz-transition: all 0.35s ease 0s;
      -o-transition: all 0.35s ease 0s;
       -webkit-transition: all 0.35s ease 0s;
        -ms-transition: all 0.35s ease 0s;
    width: 100%;
    z-index: 1;
  }
  .listing_wrap:hover .listing_img:before {
      opacity:1;	
      transform: translateY(0%);
     -moz-transform: translateY(0%);
      -o-transform: translateY(0%);
       -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
  }
  .like_post {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    color: #ffffff;
    height: 40px;
    font-size:18px;
    line-height: 38px;
    padding: 0;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 15px;
    width: 40px;
    z-index: 1;
    cursor:pointer;
  }
  .like_post:hover {
      background:#38ccff;	
  }
  .listing_info .listing_review_info .listing_map_m {
      float:right;
      color:#555;
  }
  .listing_cate {
    position: absolute;
    right: 68px;
    top: 15px;
    z-index: 1;
  }
  .featured_label {
      position:absolute;
      top:15px;
      left:15px;
      background:#38ccff;
      color:#fff;
      font-weight:bold;
      padding:3px 12px;
      border-radius:3px;
      z-index:1;
  }
  .listing_cate span {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 50%;
    display: block;
    float: left;
    height: 40px;
    overflow: hidden;
    padding: 9px;
    text-align: center;
    width: 40px;
    position:relative;
  }
  .listing_cate span.listing_like {
    background: #38ccff none repeat scroll 0 0;
    color: #ffffff;
    font-size: 18px;
    margin-left: -10px;
  }
  .listing_cate span.listing_like a {
      color:#fff;
  }
  .cate_icon {
    position: relative;
    z-index: 1;
  }