#how_it_work {
	background-image:url(./how_it_work_bg2.jpg);
}
.steps_wrap {
	background:#fff;
	padding:30px 15px 32px 110px;
	position:relative;
	z-index:1;
	border-radius:3px;
	margin:0 auto 15px;
}
.icon_div {
	position:absolute;
	top:30px;
	left:15px;
	width:90px;
	text-align:center;
	color:#38ccff;
	font-size:70px;
}
.steps_wrap  h5 {
	font-weight:600;
}
.steps_wrap p {
	font-size:15px;
	line-height:24px;
	margin:0 auto 5px;
}