#how_it_work_bg {
    background-image:url(../SearchBox/banner2.jpg);
	padding:200px 0 150px;
	text-align:center;
}
#how_it_work_bg .dark-overlay {
	background: rgba(0, 0, 0, 0.7)none repeat scroll 0 0;
  }
.how_it_work_info {
    padding: 30px 30px 30px 100px;
    position: relative;
  }
  .step_n {
    font-size: 80px;
    font-weight:900;
    left: 0;
    letter-spacing: -6px;
    opacity: 0.2;
    position: absolute;
    top: 30px;
  }
  .how_it_work_img {
      margin:0 auto 50px;
  }
  .sub_heading {
      text-align:center;
      padding:40px;
      border:#eee solid 1px;
  }
  .sub_heading p {
      font-size:28px;
      line-height:33px;
      margin:0 auto 30px
  }