#all_category {
  padding:32px 0;  
  
}
#category_slider .item {
	background:#fff;
	border-radius:3px;
	padding:15px;
	box-shadow:0 0 10px 0 rgba(83, 82, 82, 0.1);
  text-align:center;
  margin: 0px 20px 0px 20px;
	transition-duration:0.3s;
	 -moz-transition-duration:0.3s;
	  -o-transition-duration:0.3s;
	   -webkit-transition-duration:0.3s;
	    -ms-transition-duration:0.3s;
}
#category_slider .item  a {
	display:block;
}
#category_slider .item img {
	width:auto;
	height:auto;
	margin:0 auto;
}
.category_icon {
  margin: 6px auto;
  padding: 8px 12px;
  width: 110px;
  background:#fff;
  border-radius:3px;
}
#category_slider p {
	margin:0 auto;
	color:#111;
}
#category_slider .item:hover {
	background:#38ccff;	
}
#category_slider .item:hover p {
	color:#fff;
}
#category_slider .owl-dots {
	display:none;
}
#category_slider .owl-carousel .owl-stage-outer {
	padding:8px;
}
#category_slider2 .item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
    margin: 0px 20px 0px 20px;
    height: 358px;
    overflow: hidden;
    text-align: center;
    position:relative;
  }
  #category_slider2 .item:after{
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 98%;
  }
  #category_slider2 .item a {
      position:relative;
      z-index:1;
      padding:75px 0px;
      display:block;
  }
  #category_slider2 .category_icon {
    border-radius: 50%;
    height: 142px;
    padding: 39px;
    position: relative;
    width: 140px;
    margin:0 auto 35px;
    transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
  }
  #category_slider2 .item:hover .category_icon {
      margin-bottom:15px;
      margin-top:15px;
  }
  #category_slider2 .category_icon img {
    margin: 0 auto;
  }
  .category_listing_n {
    background: #38ccff none repeat scroll 0 0;
    border-radius: 40%;
    color: #ffffff;
    font-size: 18px;
    height: 45px;
    left: 50%;
    line-height: 43px;
    position: absolute;
    text-align: center;
    top: -100px;
    transition-duration:0.3s;
     -moz-transition-duration:0.3s;
      -o-transition-duration:0.3s;
       -webkit-transition-duration:0.3s;
    transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
       -webkit-transform: translateX(-50%);
    width: 45px;
    opacity:0;
  }
  #category_slider2 .item:hover .category_listing_n {
      opacity:1;
      top:-15px;
  }
  
  #category_slider2 .item p {
      color:#fff;
      font-weight:700;
      font-size:25px;	
      margin:0 auto;
  }