#contactus_bg {
    background-image:url(./contactus_bg.jpg) !important;
    padding:200px 0 150px;
	text-align:center;
}
#contactus_bg .dark-overlay {
	background: rgba(0, 0, 0, 0.7)none repeat scroll 0 0;
  }
.office_info_box {
  background:#f2f4f4;
  text-align:center;	
  border-left: 8px solid #dddddd;
  border-radius: 4px;
  padding-bottom: 10px;
  padding: 30px;
  margin:0 auto 30px;
}
.info_icon {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-size: 30px;
  height: 70px;
  line-height: 64px;
  margin: 0 auto 20px;
  width: 70px;
}
.office_info_box a {
	color:#555;
}
.office_info_box a:hover {
	color:#38ccff;
}
.contact_form, .img_wrap {
  margin-top:40px;
}
.img_wrap img {
	width:100%;
	height:500px;
}
.contact_form h4 {
	margin:0 auto 30px;
}